.feedback-button {
  position: fixed;
  right: 0;
  top: 80%;
  transform: translateY(-50%);
  background-color: #579cb8;
  color: white;
  border: none;
  border-radius: 25px 0 0 25px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 120px;
  width: 40px;
  transition: all 0.3s ease;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
}

.feedback-button.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) translateX(100%);
}

.feedback-button:hover {
  background-color: #487e94;
  width: 45px;
}

[data-theme='dark'] .feedback-button {
  background-color: #579cb8;
}

[data-theme='dark'] .feedback-button:hover {
  background-color: #487e94;
} 